@{
    ViewData["Title"] = "Index"; 
}

   <div class="MyContainer">     
        <div class="container col-xxl-8 px-4">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-2">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="~/Images/Hero_Image.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5  lh-1 mb-3 test">Locking Shields, Unlocking Success.</h1>
                    <p class="lead lh-base">
                    Invia Guard 360: Your fortress in cyberspace. Comprehensive security, absolute peace of mind.
                    </p>
                    <a asp-controller="Login" asp-action="Index" class="btn btn-primary btn-lg px-4 me-md-2">Login</a>
                </div>
            </div>
        </div>
    <div class="bubble"></div>
   </div>


@section Styles {
     .MyContainer {
    height: calc(100vh - 80px);
    position: relative;
    padding: 30px 0px;
}

  .bubble {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    animation: floatBubbles 8s ease-in-out infinite;
  }
    
  @@keyframes floatBubbles {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    50% {
      transform: translateY(-50px) rotate(360deg);
      opacity: 0.8;
    }
    100% {
      transform: translateY(0) rotate(720deg);
      opacity: 1;
    }
  }

       
}


@section Scripts {
    <script>
        $(document).ready(function () {
            $(".MyContainer").addClass("animate__animated animate__fadeIn animate__fast");

            $(".img-fluid").addClass("animate__animated animate__fadeIn animate__fast animate__zoomIn");

            $(".col-lg-6").addClass("animate__animated animate__fadeInLeftBig animate__fast");

            $(".btn-primary").addClass("animate__animated animate__fadeInUpBig animate__fast");
        });
    </script>
}



